.products__line {
  line-height: 4rem;
}

.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 1.5rem;
  padding-top: 3rem;
}

@media screen and (max-width: 340px) {
  .products__container {
    grid-template-columns: 142px;
    justify-content: center;
  }
}

@media screen and (min-width: 576px) {
  .products__container {
    grid-template-columns: repeat(3, 142px);
    justify-content: center;
  }
}
